h4 {
    text-align: justify;
}

.slider-inner > h1 {
    font-size: 30px;
}

.vs-wrap-slider {
    background: #0000005c;
    padding-bottom: 40px;
}

.video-wrapper {
    background: rgba(0, 0, 0, 0.3);
}

.video_background {
    /*background: rgba(0,0,0,0.3);*/
    position: absolute;
    top: 101px;
    left: 0;
    min-width: 750px !important;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video_background video {
    width: 100%;
    opacity: 1;
}

.vs-facebook-feed {
    display: none;
    text-align: center;
}

@media only screen and (min-width: 601px) {
    .vs-video-picture {
        display: none;
    }
}

@media only screen and (max-width: 600px) {
    .vs-facebook-feed {
        display: block;
    }

    .video_background {
        display: none;
    }

    .vs-card {
        width: 100%;
    }

    .vs-wrap-slider {
        background: rgba(0, 0, 0, 0.53);
    }
}

.vs-slide-text-row {
    padding: 40px;
    padding-right: 100px;
}

.vs-card {
    border-radius: 20px;
    margin: 10px;
    padding: 15px;
    /*width: 256px;*/
    width: 100%;
    height: 213px;
    overflow: hidden;
    display: inline-block;
    background-color: blue;
    color: yellow;
    transition: 0.3s ease;
}

.vs-card:hover {
    background-color: yellow;
    color: blue;
}

.vs-card-icon {
    font-size: 35px;
}

.vs-card-icon-wrapper {
    text-align: center;
}

.vs-card-subtitle-info {
    text-align: center;
    padding: 10px;
    font-size: 40px;
}

.vs-card-description {
    font-size: 25px;
    text-align: center;
}

.vs-video-picture {
    position: absolute;
    top: 143px;
    width: 90%;
    left: 5%;
}